# Do not include azure-functions-worker as it may conflict with the Azure Functions platform

azure-functions
datetime
regex
requests~=2.25.1
msal~=1.9.0
pytz
cryptography>=42.0.0 # not directly required, pinned by Snyk to avoid a vulnerability